/* Add additional stylesheets below
-------------------------------------------------- */

body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0px;
}

.battleGrid {
    border-spacing: 0px solid transparent;
}


.square {
    width: 30px;
    hight: 30px;
    border: 1px solid black;
    background: cornflowerblue;
}

.col-header {
    text-align: center;
    border: none;
    width: 30px;
    height: 30px;
    background: transparent;
    padding: 0;
}

.square:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: #edbc64;
}

.sink {
    background-color: #ed7864;
}

.miss {
    background-color: whitesmoke;
}

.container {
    margin:  20px 20% auto;

}


.mark-circle {
    width: 15px;
    height: 15px;
    margin: auto;
    border-radius: 50%;
    border: 1px solid black;
}


.ping-hit {
    background: #7b828f;
}

.ping-miss {
    background: #a9c4f5;
}

.game-container {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.board-title {
    text-align: center;
    margin: 5px;
    font-weight: 600;
}


header {
    background-color: black;
    margin: 0px;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
}
