<#macro myLayout title="Layout example">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- This is a stylesheet that includes the font you should use: Roboto -->
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/custom.css">

<body>
    <#include "header.ftl.html"/>
    <div class="container">
        
        <#if (flash.error)??>
            <div class="alert alert-danger">
                ${flash.error}
            </div>
        </#if>
        
        <#if (flash.success)??>
            <div class="alert alert-success">
                ${flash.success}
            </div>
        </#if>

        <#nested/>

        
        
    </div> <!-- /container -->
    <#include "footer.ftl.html"/>
</body>
</html>
</#macro>