<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    

<div class="game-container">
    <div>
        <h3 class="board-title">enemy</h3>
        <table id="opponent" class="battleGrid">
        </table>
    </div>

    <div>
        <h3 class="board-title">player</h3>
        <table id="player" class="battleGrid">
        </table>
    </div>

    <ul>
        <li><button id="place_minesweeper">Place Minesweeper</button></li>
        <li><button id="place_destroyer">Place Destroyer</button></li>
        <li><button id="place_battleship">Place Battleship</button></li>
        <li><button id="ping-button">Ping</button></li>
        <li><input type="checkbox" id="is_vertical">Vertical</input></li>
        <li><button onClick="window.location.reload()">Restart Game</button></li>
    </ul>

    <script type="text/javascript" src="/assets/game.js"></script>
    <script>
        initGame();
    </script>
</div>

</@layout.myLayout>